h1{
  font-size: 36px; /* Tamanho do texto em pixels */
    margin-left: 200px;
    padding: 5px;
  
}
h2{
  margin-left: 200px;
  padding: 5px;

}
/*
footer para o Copyrigth
*/
footer {
    color: #141313; /* Cor do texto no rodapé */
    padding: 1px; /* Espaçamento interno do rodapé */
    text-align: left; /* Alinhar o texto à esquerda no rodapé */
    position: fixed; /* Fixar o rodapé na parte inferior da janela */
    left: 0;
    bottom: 0;
    width: 100%; /* Largura total */
    background-color: #f0f0f0; /* Cor de fundo do rodapé */
  }
.caixa-cinza {
    background-color: #cccccc; /* Define a cor de fundo como cinza */
    padding: 20px; /* Adiciona um espaçamento interno de 20 pixels */
    border-radius: 5px; /* Adiciona cantos arredondados */
}

.custom-button {
  padding: 10px 40px; /* Espaçamento interno */
  background-color: #f5f8f9; /* Cor de fundo azul */
  color: #080808; /* Cor do texto branco */
  border: 2px solid #040404; /* Borda sólida azul */
  border-radius: 5px; /* Borda arredondada */
  cursor: pointer; /* Cursor de seta ao passar por cima */
  transition: background-color 0.3s, color 0.3s; /* Transição suave */
}